<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152814192001-92gk1ecqlen2tneqnp9br6f8o94u9jl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152814192001-92gk1ecqlen2tneqnp9br6f8o94u9jl9</string>
	<key>API_KEY</key>
	<string>AIzaSyCV-pQinKIHoe1mqx8h0zY4LYQFr6FX_h4</string>
	<key>GCM_SENDER_ID</key>
	<string>152814192001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.dyoevents.dierberger.dominik.dyoevents20</string>
	<key>PROJECT_ID</key>
	<string>dyoevents-b1aca</string>
	<key>STORAGE_BUCKET</key>
	<string>dyoevents-b1aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152814192001:ios:a31bc2a97556efdfd99480</string>
</dict>
</plist>